<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!-- CONEXAO LOCAL -->

  <connectionStrings>
    <add name="PainelAdm.Properties.Settings.gerenciadorConnectionString" connectionString="server=132.255.155.151;user id=inet; pwd=f1r3w@ll; port=5306; database=gerenciador" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>